.contactpage{
    height: 100vh;
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.contactform>div{
    margin: 0.7%;
}

.inputcontact{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #24292f;
  font-family: cursive;
  font-size:small;
}

.textcontact{
  resize: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #24292f;
  font-family: cursive;
  font-size:small;
  height: 130%;
}

.contactsend {
    width: 240px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #24292f;
    background-color: #24292f;
    color: #e5e5e5;
    font-family: cursive;
    font-size:small;
  }

  .contactsend:hover{
    cursor:pointer;
    color:#24292f;
    background-color:#e5e5e5;
  }