/* post */
.Routes {
  /* height: 100vh; */
  margin-top: -1em;
}
#form {
  background-color: rgb(1, 1, 41);
  width: 106%;
  height: 100vh;
  padding-left: 0%;
  margin-left: -2%;
}

#categorySelector {
  border-radius: 0.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  margin-top: 1em;
  height: 02em;
  width: 30%;
  margin-left: 35%;
}
#categorySelector:hover {
  border: orange;
}
.postForPosting {
  background-color: rgba(180, 179, 179, 0.863);

  border: 02px solid orange;
  height: 40%;
  width: 40em;
  margin-top: 011em;
  /* justify-content: center; */
  margin-left: 24.3%;
}
.postInfo {
  /* display: block; */
  width: 20em;
}
#createPost {
  border-radius: 0.2em;
  margin-left: 45%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  margin-top: 2%;
}
#createPost:hover {
  background-color: orange;
  color: aqua;
}
#postTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  width: 30%;
  border-radius: 0.1em;
  height: 3em;
  border: none;
  margin-top: 5em;
  margin-left: 35%;
}
#PostDescription {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  width: 30%;
  height: 014em;
  border-radius: 0.1em;
  border: none;
  margin-top: 0.3em;
  margin-left: 35%;
}
#PostPrice {
  width: 30%;
  height: 03em;
  border-radius: 0.1em;
  border: none;
  margin-top: 0.3em;
  margin-left: 35%;
}
#mainContainerPostCreate {
  justify-content: center;
  width: 30%;
  margin-left: 20%;
}
#commentsBar {
  width: 40%;
}
#createPostMessage {
  margin-left: 60%;
  width: 80%;
  font-size: 060%;
  color: rgb(6, 240, 6);
  height: 6em;
}
#picUpload {
  margin-left: 27%;
}
