.categoryLinks {
  font-family: cursive;

  color: white;
  text-decoration: none;
  margin-bottom: 0.3%;
}
.categoryLinks:hover {
  color: white;
}
#logoCategory {
  font-family: cursive;

  margin-left: 01%;
  color: white;
}

#categoryNavBar {
  margin-left: -0.93%;
  padding-left: 0.93%;
  margin-right: 0%;
  padding-right: 0%;
  background-color: black;
  border: solid;
  width: 100%;
}
#categoryLinksDiv {
  /* justify-content: space-around; */
  color: white;
  display: flex;
  gap: 19%;
  margin-left: 25%;
  margin-top: -1%;
}
