.NavBar{
    display:flex;
    background-color:rgb(0, 0, 0);
    font-family:cursive ;
    
    
}

a{
    color: rgb(204, 255, 0);
}

.NavBar>div {
    margin: 1%;
    color: rgb(204, 255, 0);
}

.logo {
    font-family: cursive;
}

.body{
    display: flex;
    flex-direction: row;
    background-image: url("./ecommerce-2140603_960_720.jpg");
    height:475px;
    color: blue;
    background-size: cover;
    align-items:flex-start;
    justify-content: center;
}

.body>div {
    margin: 5%;
   
    margin-top: 2%;;
    background-color: beige;
    height: 100px;
    width: 100px;
    text-align: center;
    justify-content: center;
    background-color:rgb(204, 255, 0);
    color:black;
    font-family:cursive;
    /* width: 5%; */

}

.Footer{
    display:flex;
    background-color:rgb(0, 0, 0);
    font-family:cursive ;
}

.Footer>div {
    margin: 1%;
   margin-left: 10%;
    color: rgb(204, 255, 0);
    
}







