.NavBar{
    background-color: beige;
    display: flex;
    flex-direction: row;
}

.NavBar > div{
    margin: 10px;
}

.Footer{
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Footer > div{
    margin: 10px;  
}