.profilePage {
  height: 90vh;
  /* border: red solid 4px; */
  font-family: cursive;
}
#picHolder {
  display: flex;
  justify-content: center;
  margin-top: 02%;
  height: 21em;
  width: 15.5em;
  /* margin-left: 40%; */
  border: solid #24292f 2px;
}
#buttons {
  /* margin-left: 41%; */
  width: 14em;
}
#returnedInfo {
  margin-left: 02%;
}
#actualPic{
width: 15.4999em;
height: 21em ;

}
.textProfile{
width: 8em;
margin-left: 50%;
/* margin-bottom: 40%; */
/* margin-top: 10%; */
}
#textProfile{
  margin-top: -25%;
  margin-left: -40%;

}
#productsButton{

  margin-left: 30%;
  margin-top: 04%;
}
