.product{
    background-color: #e5e5e5;
    display: grid;
    grid-template-columns: auto auto;
    font-family:cursive ;
}

.product>div{
   margin: 10%;
   text-align: center;
}

.productimage {
 object-fit: cover;
  width: 100%
}



.inputsearch {
    width: 15em;
}

.Searchbar {
 display: flex;
 justify-content:center;
 background-color: #e5e5e5;
}

.Searchbar > div {
  margin-top: 1%;
}


