.profilePage {
  height: 100vh;
  font-family: cursive;
}



.profilebutton {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #24292f;
  background-color: #24292f;
  color: #e5e5e5;
  font-family: cursive;
  font-size: small;
}

.profilebutton:hover {
  cursor: pointer;
  color: #24292f;
  background-color: #e5e5e5;
}

.showbutton {
  width: 30%;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #24292f;
  background-color: #24292f;
  color: #e5e5e5;
  font-family: cursive;
  font-size: small;
}

.showbutton:hover {
  cursor: pointer;
  color: #24292f;
  background-color: #e5e5e5;
}

.uploadbutton {
  box-sizing: border-box;
  border-color: #24292f;
  background-color: #24292f;
  color: #e5e5e5;
  width: 30%;
  border-radius: 4px;
  box-sizing: border-box;
}

.uploadbutton:hover {
  cursor: pointer;
  color: #24292f;
  background-color: #e5e5e5;
}

.profilebox {
  display: grid;
  grid-template-columns: 50% 50%;
}

.profilebox > div {
  text-align: center;
}

.userinfo {
  margin-top: 15%;
}

.Welcome {
  display: flex;
  justify-content: center;
}

img{
  height:auto;
  width: 40% ;
  margin-top:10% ;
}

.userProductRender{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.profilerenderbutton{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #24292f;
  background-color: #24292f;
  color: #e5e5e5;
  font-family: cursive;
  font-size: small;
}

.profilerenderbutton:hover {
  cursor: pointer;
  color: #24292f;
  background-color: #e5e5e5;
}

.profileclosebutton{
  width: 1%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #24292f;
  background-color: #24292f;
  color: #e5e5e5;
  font-family: cursive;
  font-size: small;
  text-align: center;
}

.profileclosebutton:hover {
  cursor: pointer;
  color: #24292f;
  background-color: #e5e5e5;
}