.Footer{
    display:flex;
    background-color: #24292f;
    font-family:cursive ;
    justify-content: center;
}

.Footer>div {
    margin: 2%;
    color: #e5e5e5;
}



.bmwimage{
    height: 60px;
    width: 60px;
}