#renderedContainer {
  width: 100%;
  background-color: #e5e5e5;
  margin-top: 0%;
  margin-left: 0em;
  display: grid;
  grid-template-columns: 30em 30em;
  height: 350vh;
  overflow-x: auto;
}
#renderdCategory {
  margin-left: 18.5em;
  width: 25em;
  height: 20em;
  margin-bottom: 05%;
}
.text {
  margin-left: 30%;
} /*
#title {
  margin-left: 40%;
}  */
