/* #renderedContainer {
  width: 100%;
  background-color: #e5e5e5;
  margin-top: 0%;
  margin-left: 0em;
  display: grid;
  grid-template-columns: 30em 30em;
  height: 350vh;
  overflow-x: auto;
}
#renderdCategory {
  margin-left: 18.5em;
  width: 25em;
  height: 20em;
  margin-bottom: 00%;
}
.text {
  margin-left: 30%;
} /*
#title {
  margin-left: 40%;
}  */
#biggest {
  /* overflow-y: scroll; */
  height: fit-content;
  /* background-color: red; */
}
#renderedContainer {
  display: grid;
  grid-template-columns: repeat(3, 20em);
  grid-template-rows: repeat(2, auto);
  /* gap: 13%; */
  margin-left: 0%;
  padding: 05%;
  margin-top: -3%;
  /* overflow-x: auto; */
  /* overflow-y: auto; */
  align-items: center;
  column-gap: 06em;
  row-gap: 6em;
}
#images {
  padding-left: 0%;
  width: 100%;
  height:auto;
  margin-left: 0.05%;
  margin-top: 0.05%;
}
.text {
  padding-bottom: 02%;
  flex-wrap: wrap;
  /* margin-left: 05%; */
}
#renderdCategory {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  /* padding: 030%; */
  border: solid  #e5e5e5;
   background-color: #e5e5e5;
   box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
   border-radius: 50px;
  /* margin-left: 32%; */
  word-wrap: break-word;
  margin-top: 15%;
}
#footer {
  height: 100%;
  margin-top: 0%;
}
#endPoints {
  height: 100%;
}
.footer {
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
}
