* {
  margin-top: 0%;
}

/* //======================================== */

#category {
  margin-left: -3em;
  display: grid;
  padding-left: 5.5%;
  padding-top: 03em;
  grid-template-columns: 030em 030em 030em;
  grid-template-rows: 020em 020em;
  background-color: #e5e5e5;
  height: 100vh;
  width: 93em;
}
.categoryPics {
  margin-left: 2.5em;
  height: 75%;
  width: 85%;
}
.categoryPics:hover {
  height: 18em;
  width: 27em;
  border: orange solid 0.3em;
}
#renderdCategory {
  border: 1px solid black;
  margin-top: 1.5em;
  background-color: rgba(180, 179, 179, 0.863);
}
