/* DONE DONE DONE DONE */

#category {
  margin-left: -3em;
  display: grid;
  padding-left: 5.5%;
  padding-top: 03em;
  grid-template-columns: 030% 030% 030%;
  grid-template-rows: 40% 40%;
  background-color: #e5e5e5;
  height: 100vh;
  width: 97.65%;
}
/* DONE DONE DONE DONE */

.categoryPics {
  margin-left: 20%;
  height: 75%;
  width: 80%;
}
/* DONE DONE DONE DONE */

.categoryPics:hover {
  height: 18em;
  width: 27em;
  border: orange solid 0.3em;
}
/* DONE DONE DONE DONE */

