* {
  margin-top: 0%;
}
#renderedContainer {
  border: solid blue 2px;
}
#renderdCategory {
  border: solid blueviolet 2px;
}
#n {
  background-color: blue;
}
/* //======================================== */

#category {
  margin-left: -3em;
  display: grid;
  padding-left: 5.5%;
  padding-top: 03em;
  grid-template-columns: 030em 030em 030em;
  grid-template-rows: 020em 020em;
  background-color: rgb(1, 1, 41);
  height: 100vh;
  width: 100%;
}
.categoryPics {
  height: 75%;
  width: 85%;
}
.categoryPics:hover {
  height: 18em;
  width: 27em;
  border: orange solid 0.3em;
}
#renderdCategory {
  border: 1px solid orange;
  margin-top: 1.5em;
  background-color: rgba(180, 179, 179, 0.863);
}
#renderedContainer {
  margin-top: 3em;
  width: 050%;
  margin-left: 24%;
}
#renderedContainer {
  border: solid blue 2px;
}
#renderdCategory {
  border: solid blueviolet 2px;
}
#n {
  border: solid green 2px;
  height: 100vh;
}
