.Footer{
    display:flex;
    background-color: #111111;
    font-family:cursive ;
    justify-content: center;
}

.Footer>div {
    margin: 2%;
    color: #e5e5e5;
}

.bmw{
    
}

.bmwimage{
    height: 60px;
    width: 60px;
}