

.body{
    display: flex;
    flex-direction: row;
    background-image: url("../ecommerce-2140603_960_720.jpg"); 
    height:525px;
    color: blue;
    background-size: cover;
    align-items:flex-start;
    justify-content: center;
}

.body>div {
    margin: 5%;
    margin-top: 2%;;
    height: 100px;
    width: 100px;
    text-align: center;
    justify-content: center; 
    color:black;
    font-family:cursive;
    

}











