.profilePage {
  height: 100vh;
  /* border: red solid 4px; */
  font-family: cursive;
}
/* #picHolder {
  display: flex;
  justify-content: center;
  margin-top: 02%;
  height: 21em;
  width: 15.5em;
  /* margin-left: 40%; */
/* border: solid #24292f 2px; */
/* } */
*/
/* #buttons {
  /* margin-left: 41%; */
  /* width: 14em; */
/* } */ */
/* #returnedInfo {
  margin-left: 02%;
}
#actualPic{
width: 15.4999em;
height: 21em ; */

/* } */
/* .textProfile{
width: 8em;
margin-left: 50%;
/* margin-bottom: 40%; */
/* margin-top: 10%; */
/* } */ */
/* #textProfile{
  margin-top: -25%;
  margin-left: -40%;

} */
#actualPic {
  display: flex;
  justify-content: center;
  margin-top: 02%;
  height: 21em;
  width: 15.5em;
  /* margin-left: 40%; */
  /* border: solid #24292f 2px; */
}
#productsButton {
  margin-left: 30%;
  margin-top: 04%;
}

.profilebutton {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #24292f;
  background-color: #24292f;
  color: #e5e5e5;
  font-family: cursive;
  font-size: small;
}

.profilebutton:hover {
  cursor: pointer;
  color: #24292f;
  background-color: #e5e5e5;
}

.showbutton {
  /* margin-left : 30%; */
  width: 30%;
  /* height: 30%; */
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #24292f;
  background-color: #24292f;
  color: #e5e5e5;
  font-family: cursive;
  font-size: small;
}

.showbutton:hover {
  cursor: pointer;
  color: #24292f;
  background-color: #e5e5e5;
}

.uploadbutton {
  box-sizing: border-box;
  border-color: #24292f;
  background-color: #24292f;
  color: #e5e5e5;
  width: 30%;
  /* margin-top: 10%;
  width: 50%;
  margin-left: 30%; */
  border-radius: 4px;
  box-sizing: border-box;
}

.uploadbutton:hover {
  cursor: pointer;
  color: #24292f;
  background-color: #e5e5e5;
}

.profilebox {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 100%; */
}

.profilebox > div {
  text-align: center;
}

.userinfo {
  margin-top: 15%;
  /* margin-left: 50%, */
}

.Showproduct {
  /* margin-right: 25%; */
}

.Welcome {
  display: flex;
  justify-content: center;
}
