.NavBar{
    display:flex;
    background-color:#24292f;
    font-family:cursive ;
    align-items: end;
    color: white;
}

.logo{
    color: #e5e5e5;
    font-size: 150%;
    font-family: cursive;
    text-decoration: none;
}

.Homelinks {  
    text-decoration: none;
  }

a{
    color: #e5e5e5;
}

.NavBar>div {
    margin: 1%;
    margin-left: 5%;
}
body{
    background-color: #e5e5e5
    ;
}
.searchBox {
    position:absolute;
    top: 5%;
    left: 75%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: block;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: block;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
display: block;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}